input {
    width:80px;
    padding:8px;
    font-size:16px;
}


label {
    display:block;
    margin:10px;
}


#result div {

    margin:15px;
    padding:15px;
    border-radius:10px;
    font-size:22px;
}


.now {
    background:#333;
}


.effective {

    background:#665500;
    color:#ffff99;

}


.total {

    background:#004400;
    color:#99ff99;

}


.dead {

    background:#444;
    color:#aaa;

}


.menu button{

    font-size:18px;
    padding:10px 20px;
    margin:5px;

}


body {

    max-width: 700px;
    margin: 0 auto;
    padding: 15px;

    background: #f0f2f5;
    color: #222;

}


h1{

    text-align: center;
    margin-bottom: 25px;

}


.menu{

    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;

}


.menu button{

    flex: 1;
    max-width: 220px;

}


button{

    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;

}


label{

    display: block;
    margin-bottom: 12px;

}


#result,
.card{

    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 12px;

}


#result{

    font-size: 20px;
    font-weight: bold;

}


input,
select {

    width: 100%;
    padding: 10px;

    background: white;
    color: black;

    border: 1px solid #ccc;
    border-radius: 8px;

}


button {

    font-size: 18px;
    padding: 12px;

    background: #4a7cff;
    color: white;

    border: none;
    border-radius: 12px;

}


#damageTable {

    overflow-x: auto;

}


table {

    width: 100%;

    border-collapse: collapse;

    margin-top: 10px;

}


th,
td {

    min-width: 40px;

    padding: 8px;

    border: 1px solid #666;

    text-align: center;

}


th {

    background: #d8dce5;

}
